.hotelContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hotelContainerNavbar {
  width: 100%;
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  cursor: pointer;
  span {
    padding: 25px;
    width: 100%;
    text-align: center;
    color: #555;
    &:hover {
      background-color: #55555531;
    }
  }
  .active {
    border-bottom: 2px solid #0071c2;
  }
}
.slider {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #232c33e8;
  display: flex;
  align-items: center;
  z-index: 10;
  .close {
    position: absolute;
    top: 0;
    right: 0;
    color: lightgray;
    font-size: 35px;
    padding: 10px;
    cursor: pointer;
  }
  .arrow {
    margin: 20px;
    font-size: 40px;
    cursor: pointer;
  }
}
.slideWarpper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slideImg {
  width: 80%;
}
.hotelWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.bookNow {
  position: absolute;
  top: 10px;
  right: 0;
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
.hotelExtension {
  width: 100%;
  max-width: 1024px;
  margin-top: 10px;
  .hotelExtensionWrap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    .hotelExtensionDetail {
      padding: 20px;
      border: 1px solid #55555562;
      border-radius: 10px;
      color: #555;
      font-size: 15px;
      display: flex;
      align-items: center;
      gap: 8px;
      .icon {
        font-size: 25px;
        color: #252525;
      }
    }
  }
}
.hotelTitle {
  font-size: 40px;
}
.hotelAddress {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: underline;
  .icon {
    color: #0071c2;
  }
}
.hotelDistance {
  color: #0071c2;
  font-weight: 500;
}
.hotelImgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hotelPrice {
  color: #008009;
  font-weight: 500;
}
.photoWarpper {
  width: 33%;
}

.photoHotel {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.hotelDetailDes {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}
.hotelDetailDesText {
  flex: 3;
}
.hotelTitle {
  font-size: 18px;
  margin-bottom: 20px;
}
.hotelDesc {
  text-align: justify;
}
.hotelDetailDesPrice {
  flex: 1;
  background-color: #ebf3ff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  h1 {
    font-size: 18px;
    color: #555;
  }
  span {
    font-size: 14px;
  }
  h2 {
    font-weight: 300;
  }
  button {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
}
.footerr {
  margin: 30px 160px;
}
