.searchItems {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}
.searchImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.searchItemDes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 2;
}
.sTitle {
  font-size: 20px;
  color: #0071c2;
}
.sDistance {
  font-size: 12px;
}
.sTaxi {
  font-size: 12px;
  background-color: #008009;
  color: white;
  width: max-content;
  padding: 3px;
  border-radius: 5px;
}
.sSubtitle {
  font-size: 12px;
  font-weight: bold;
}
.sFeatured {
  font-size: 12px;
}
.sCancel {
  font-size: 12px;
  color: #008009;
  font-weight: bold;
}
.sCancelSubtitle {
  font-size: 12px;
  color: #008009;
}
.sDetail {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sDetailRating {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  align-items: center;
  span {
    font-weight: 500;
  }
  button {
    background-color: #003580;
    color: white;
    padding: 5px;
    font-weight: bold;
    border: none;
  }
}
.sDetailText {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 5px;
  button {
    background-color: #0071c2;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 5px;
    cursor: pointer;
  }
}
.sPrice {
  font-size: 24px;
}
.sDetailTaxi {
  font-size: 12px;
  color: gray;
}
