.feature {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}
.featureItems {
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  &:hover {
    border: 1px solid #ca970b;
  }
}

.featureImg {
  width: 100%;
  object-fit: cover;
}
.featureTitle {
  position: absolute;
  top: 10px;
  left: 15px;
}
