.header {
  background-color: #003580fa;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0 80px 0;
}

.headerList {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.headerListItems {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  cursor: pointer;
  &:hover {
    background-color: rgba(240, 248, 255, 0.123);
    padding: 10px;
    border-radius: 20px;
  }
}

.headerListItems.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(240, 248, 255, 0.123);
}

.headerDes {
  margin: 20px 0;
  font-size: 22px;
}

.headerSearch {
  height: 60px;
  background-color: #febb02;
  display: flex;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  bottom: -35px;
  width: 100%;
  max-width: 1024px;
}
.headerBtn {
  padding: 15px;
  background-color: #0566ee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-top: 20px;
  &:hover {
    background-color: #0566eea9;
  }
}
.headerTitle {
  font-size: 55px;
}
.headerSearchItem {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #595959;
  font-size: 17px;
  background-color: white;
  border-radius: 10px;
  height: 100%;
  padding: 0 20px;
  border: 4px solid #febb02;
  cursor: pointer;
}

.headerSearchInput {
  border: none;
  outline: none;
  font-size: 16px;
}

.headerSearchText {
  color: #55584d;
}

.headerSearchItemBtn {
  width: 270px;
  height: 100%;
  background-color: #003580;
  border: 3px solid #febb02;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background-color: #003580da;
  }
}
.date {
  position: absolute;
  top: 57px;
  z-index: 2;
}

.option {
  position: absolute;
  top: 57px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.optionItems {
  width: 280px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
  padding: 0 15px;
}

.optionCouter {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 12px;
  color: black;
  border: 1px solid #003580;
  border-radius: 5px;
  cursor: pointer;
}
.optionBtn {
  width: 85%;
  height: 30px;
  background-color: transparent;
  border: 1px solid #003580;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}
.optionCouterBtn {
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: #003580;
  cursor: pointer;
}
.optionCouterNumber {
  font-size: 18px;
}
.optionCouterBtn:disabled {
  cursor: not-allowed;
}
